#### Join the data frames actors.csv and movies.csv using all the join types you know

In [1]:
#import pandas library for data analysis
import pandas as pd

In [2]:
#reading the csv files
actors_df = pd.read_csv('actors.csv')
movies_df = pd.read_csv('movies.csv')

In [3]:
actors_df, movies_df

(                  actor  year_of_birth
 0          Bruce Willis           1955
 1        Robert De Niro           1943
 2     Leonardo DiCaprio           1974
 3         Julia Roberts           1967
 4  Catherine Zeta-Jones           1969
 5        Sandra Bullock           1964,
                   movie                 actor  duration_minutes
 0            Die Hard 1          Bruce Willis               132
 1     The Mask of Zorro  Catherine Zeta-Jones               136
 2           Raging Bull        Robert De Niro               129
 3                 Speed        Sandra Bullock               116
 4  When Harry Met Sally              Meg Ryan                96
 5               Titanic     Leonardo DiCaprio               195
 6               Chicago          Richard Gere               113)

##### INNER JOIN

In [4]:
inner_join_df = pd.merge(actors_df, movies_df, on= 'actor', how= 'inner')
inner_join_df

                  actor  year_of_birth              movie  duration_minutes
0          Bruce Willis           1955         Die Hard 1               132
1        Robert De Niro           1943        Raging Bull               129
2     Leonardo DiCaprio           1974            Titanic               195
3  Catherine Zeta-Jones           1969  The Mask of Zorro               136
4        Sandra Bullock           1964              Speed               116

COMMENT: This is the default type of join in pandas. It combines the two data frames based on matching values in the specified column(s), and includes only the rows that have a match in both data frames.

##### LEFT JOIN

In [5]:
left_join_df = pd.merge(actors_df, movies_df, on= 'actor', how= 'left')
left_join_df

                  actor  year_of_birth              movie  duration_minutes
0          Bruce Willis           1955         Die Hard 1             132.0
1        Robert De Niro           1943        Raging Bull             129.0
2     Leonardo DiCaprio           1974            Titanic             195.0
3         Julia Roberts           1967                NaN               NaN
4  Catherine Zeta-Jones           1969  The Mask of Zorro             136.0
5        Sandra Bullock           1964              Speed             116.0

COMMENT: This type of join includes all rows from the left data frame, and only the matching rows from the right data frame.

##### RIGHT JOIN

In [6]:
right_join_df = pd.merge(actors_df, movies_df, on= 'actor', how= 'right')
right_join_df

                  actor  year_of_birth                 movie  duration_minutes
0          Bruce Willis         1955.0            Die Hard 1               132
1  Catherine Zeta-Jones         1969.0     The Mask of Zorro               136
2        Robert De Niro         1943.0           Raging Bull               129
3        Sandra Bullock         1964.0                 Speed               116
4              Meg Ryan            NaN  When Harry Met Sally                96
5     Leonardo DiCaprio         1974.0               Titanic               195
6          Richard Gere            NaN               Chicago               113

COMMENT: This type of join includes all rows from the right data frame, and only the matching rows from the left data frame.

##### FULL JOIN

In [7]:
full_join_df = pd.merge(actors_df, movies_df, on= 'actor', how= 'outer')
full_join_df.head()

                  actor  year_of_birth                 movie  duration_minutes
0          Bruce Willis         1955.0            Die Hard 1             132.0
1        Robert De Niro         1943.0           Raging Bull             129.0
2     Leonardo DiCaprio         1974.0               Titanic             195.0
3         Julia Roberts         1967.0                   NaN               NaN
4  Catherine Zeta-Jones         1969.0     The Mask of Zorro             136.0
5        Sandra Bullock         1964.0                 Speed             116.0
6              Meg Ryan            NaN  When Harry Met Sally              96.0
7          Richard Gere            NaN               Chicago             113.0

COMMENT: This type of join includes all rows from both data frames, filling in missing values with NaN where there is no match.

In [9]:
movies_df['movie'].str.split().apply(lambda x : x[0])

0        Die
1        The
2     Raging
3      Speed
4       When
5    Titanic
6    Chicago
Name: movie, dtype: object

In [17]:
movies_df['movie'][0].split(" ")[0]

'Die'

In [20]:
movies_df['movie'].apply(lambda x:x.split(" ")[0])

0        Die
1        The
2     Raging
3      Speed
4       When
5    Titanic
6    Chicago
Name: movie, dtype: object